

.section {
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
}

.header--section {
    text-align: center;  
    border-bottom-width: 1.0px;  
}


.button {
    position: absolute;
    background-color: grey;
    right: 0px;
    top: 10px;
    font-weight: bold;
    font-size: 14.0px;
    padding: 10.5px;
    }

.left {
    width: 50%;
    float: left;
    border-top-width: 1.0px;
    border-bottom-width: 1.5px;
    border-right-width: 1px;    
    position: relative;


}

.right {
    width: 50%;
    float: right;
    border-top-width: 1.0px;
    border-bottom-width: 1.5px;
    border-left-width: 1px;
    padding: 0px;

}